@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
    <div class="text-center">
        <h1 class="display-4">Visual Studio HTML Assignment</h1>
        <p>Check out this educational video!</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/t6IKTNmn3Uo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div id="animationContainer">
        <div id="animation">
            <br /><p id="button" onclick="myMove()">Click me!</p>
        </div>
    </div>
</html>